body {
    color: #FFFFFF;
    background-color: #151925;
    margin: 0;
}

.d-flex {
    display: flex;
}

.d-center {
    align-items: center;
    justify-content: center;
}

.j-c-sp-btw {
    justify-content: space-between ;
}

.al-it-center {
    align-items: center;
}

.li-st-none {
    list-style-type: none;
}

.p-8 {
    padding: 8px;
}

.p-h-16 {
    padding: 0 16px;
}

.m-0 {
    margin: 0;
}

.width-400 {
    width: 400px;
}

.nav-link {
    text-decoration: none;
    color: #FFF;
}

.nav-link:hover {
    color: #17EDE0;;
}

.text-color {
    color: #17EDE0;
}

.btn-container {
    display: flex;
    flex-direction: column;
}

.btn-default {
    padding: 8px 16px;
    cursor: pointer;
    width: 200px;
}

.btn-download-cv {
    color: black;
    background-color: #17EDE0;
    margin-top: 16px;
}

.profile-pic {
    height: 240px;
    width: 240px;
    padding: 4px;
    border-radius: 50%;
    background-color: #D9D9D9;
}

.projects {
    text-align: center;
}

.project-description-container {
    margin: 0 40px;
}

.project-description {
    background-color: #485756;
    padding: 8px;
    margin: 8px;
}

.footer {
    border-top: 1px solid #485756;
    margin-top: 20px;
}

.contact-info-text {
    margin: 24px 0;
}

.contact-info {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}


